<h1>Sign up</h1>
<br>
<div class="ui form container">
    
  
    <form (submit)="registerSubmit()" >
        <div class="field">
            <label>Name</label>
            <input [(ngModel)]="name" name="name" type="text" placeholder="Your First Name">
        </div>
        <div class="field">
            <label>Email</label>
            <input [(ngModel)]="email"  name="email" type="text" placeholder="Enter a Valid email">
        </div>
        <div class="field">
            <label>Choose a Username</label>
            <input [(ngModel)]="username" name="username" type="text" placeholder="Choose a Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input [(ngModel)]="password" name="password" type="password" placeholder="Your password">
        </div>
        <button  class="ui submit button green" >Submit</button>
        <div class="ui error message"></div>
    </form>
</div>