<div class="row">
    <div class="column padding-reset">
        <div class="ui huge message page grid">
            <div class="myCenter">
                <h1 class="ui huge header">Welcome to LetsChat</h1>
                <p>Chat with Your Friends,Colleagues, and Family, With this free chat application.<br/>Just Login and start Chatting!</p>
                <a class="ui blue button" [routerLink]="['/login']">Login</a>
                <a class="ui green button" [routerLink]="['/register']">Register</a>                
            </div>
        </div>
    </div>
</div>

