<div class="ui inverted menu navbar">
    <a [routerLink]="['/']" class="brand item">LetsChat</a>
    <!-- <a [routerLinkActive]="['active']" [routerLink]="['/']"  class="item">Home</a> -->
    <a href="" class="item">Link</a>
    <a href="" class="item">Link</a>
    <a class="ui dropdown item">Dropdown
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Action</div>
        <div class="item">Another action</div>
        <div class="item">Something else here</div>
        <div class="ui divider"></div>
        <div class="item">Seperated link</div>
        <div class="item">One more seperated link</div>
      </div>
    </a>
    <div class="right menu">
        <!-- <a href="" class="active item">Default</a> -->
        <a [routerLinkActive]="['active']"  [routerLink]="['/register']" class="item">Sign Up</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/login']" class="item">Login</a>
    </div>
</div>
